<!-- Podemos crear html usando tab y (div.class.anotherclass+adjacenthtml.class>innerhtml.class) -->
<courses></courses>
<!-- el $event llega desde favorite (change), cuando se hace click y se modifica una variable y luego se emite
el output que hicimos -->
<h1>Componentes reutilizables</h1>
<favorite
  [optional-alias]="post.isFavorite"
  [isFavoriteAlt]="post.isFavorite"
  (change)="onFavoriteChange($event)"
></favorite>
<h1>NG container y NG content</h1>
<bootstrap-panel>
  <!-- El ng-container, va a mostrar el elemento suelto, sin divs ni nada, para reducir marcado extra -->
  <ng-container class="heading"
    >este es un header generado por ng-content</ng-container
  >
  <div class="body">
    <h2>body</h2>
    <p>some content</p>
  </div>
</bootstrap-panel>
<h1>Directives</h1>
<app-directives></app-directives>
<h3>Template forms</h3>
<app-forms></app-forms>
<h3>Reactive forms</h3>
<app-reactive-form></app-reactive-form>
<h3>Http</h3>
<app-http></app-http>
